
.admin-container {
    display: flex;
    justify-content: center;
    height: 400;
    width: '80vw';
    padding: 16px;
    padding-top: 40px;
}

.admin-{ 
    padding-top: 120px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1160px) {
    .admin-container {
        padding: 8px;
        width: '30vw';
        padding-top: 40px;

    }
    .datagrid-container {
        width: 100%;
    }

}
