/* Compiler.css */

.container {
  background-color: black;
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.heading {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}


.clicked {
  background: #282c34;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
  transition: width 0.3s ease, height 0.3s ease;
}

.clicked:hover {
  width: 35%;
  height: 55px;
}

