.hover-effect:hover {
    transform: scale(1.1); 
  }
.hover-effect {
      transition: transform 0.2s;
      height: 350px;
      width: 350px;
}
  @media (max-width: 1108px) {
    .hover-effect {
      height: auto; 
      width: auto; 
      position: relative; 
    }
  }
  @media (min-width: 900px) and (max-width: 1100px) {
   
    .hover-effect {
      height: 450px;
      width: 88%;
      position: relative;
    }
    .titlePaper{
      font-size: 18px !important ;
    }
  }